<h1>some event</h1>
<div>
  created by:
  <%= @event.creator.email %>
</div>
<div>
  event date:
  <%= @event.date %>
</div>
<div>
  attendees:
  <% @event.attendees.each do |attendee| %>
    <%= attendee.email %>
  <% end %>
</div>
<% if @event.attendees.include?(current_user) %>
  <%= form_with model: [@event, @attendance],
  url: event_attendance_path(@event, @attendance), method: :delete do |form| %>
    <%= form.submit 'Cancel attendance' %>
  <% end %>
<% else %>
  <%= form_with model: [@event, @attendance],
  url: event_attendances_path(@event, @attendance), method: :post do |form| %>
    <%= form.submit 'Attend' %>
  <% end %>
<% end %>
<% if @event.creator == current_user && @event.future? %>
  <%# add an event edit button %>
  <p><%= link_to 'Edit event', edit_event_path %></p>
<% end %>
