<h1>some event</h1>
<div>
  created by:
  <%= @event.creator.email %>
</div>
<div>
  event date:
  <%= @event.date %>
</div>
<%= form_with url: event_attendance_path(@event), method: :post do %>
  <%= check_box_tag 'attending', '1', false %>
  <%= label_tag 'attending', 'Attending' %>
  <%= submit_tag 'Submit' %>
<% end %>
